#collectionpopup {
	position: absolute;
	padding: 4px;
	border: 1px solid #000;
	z-index: 9999;
	display: inline;
	font-size: 10pt;
	background: white;
}

/*
 * Special page
 */

.collection-column {
	float: left;
	width: 47%;
}

.collection-column-left {
	margin-right: 5%;
}

.collection-column-right-box {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #aaa;
}

/* Input follows user direction */
#mw-collection-title-form input {
	direction: ltr;
}

.collection-create-chapter-links {
	text-align: center;
	padding: 2px;
	margin-top: 20px;
	margin-bottom: 2px;
	border: 1px solid #aaa;
}

.collection-create-chapter-links a {
	margin: 0 1em;
}

.collection-create-chapter-list {
	padding: 10px 20px;
	border: 1px solid rgb(170, 170, 170);
}

.collection-create-chapter-list-text {
	text-align: center;
	margin-bottom: 10px;
}

.collection-create-chapter-list ul {
	list-style: none;
	margin-left: 0;
}

.collection-create-chapter-list .chapter {
	margin-top:0.3em;
}

.collection-create-chapter-list  .article .title {
	margin-left: 1em;
}

/*
 * Creator box
 */

.collection-creatorbox {
	text-align: left;
	margin: 10px 0;
	padding: 5px 10px;
	border: 1px solid #aaa;
}

.collection-creatorbox-row {
	margin-left: 90px;
	margin-bottom: 0;
}

.collection-creatorbox-book {
	float: left;
}

/* Trivial but nicer for the browsers that support it */
.rtl .collection-creatorbox-book {
	--ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.collection-creatorbox-title {
	font-weight: bold;
	font-size: 1.2em;
}

.collection-creatorbox-iconlink {
	margin-left: 10px;
}

.collection-creatorbox-row div {
	float: right;
}

.collection-creatorbox-row img {
	vertical-align: text-bottom;
}

#collection-suggest-add,
#collection-download-button,
#collection-save-button,
#collection-save-input {
	float: right;
}
.collection-order-button {
	clear: right;
}
	
#coll-orderbox ul {
	list-style: none;
}
