#HAIBUN_O_WEBPLAYWRIGHT_STORAGE=StorageFS
#HAIBUN_O_WEBPLAYWRIGHT_HEADLESS=true
#HAIBUN_O_HAIBUNLOADTESTSSTEPPER_TRACKS_STORAGE=StorageFS
HAIBUN_TRACE=true
HAIBUN_O_OUTREVIEWS_STORAGE=StorageFS
#HAIBUN_O_HAIBUNLOADTESTSSTEPPER_DISPATCHER_ADDRESS=http://localhost:8123
USER_ID=1000
