/**
 * CSS for AJAX Poll extension
 * @file
 * @ingroup Extensions
 * @author Dariusz Siedlecki
 * @author Thomas Gries
 */

.ajaxpoll {
	width: 400px;
	border: 1px dashed #999;
	background: #FAFAFA;
	padding: 10px 20px 10px 10px
}

.ajaxpoll .ajaxpoll-question {
	font-weight: bold;
}

.ajaxpoll .ajaxpoll-answer-name,.ajaxpoll-answer-name-revoke {
	margin-top: 5px;
	padding-left: 0px;
	font-size: 0.9em;
}

.ajaxpoll .ajaxpoll-hover-vote {
	background: #00FFFF;
}

.ajaxpoll .ajaxpoll-hover-revoke {
	background: #FFD700;
}

.ajaxpoll .ajaxpoll-answer-vote {
	border: 1px solid #CCC;
	width: 100%;
	margin-left: 0px;
	height: 12px;
	font-size: 10px;
	position: relative;
}

.ajaxpoll .ajaxpoll-answer-vote div {
	border-right: 1px solid #CCC;
	background: #E5E5E5;
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	font-size: 1px;
	line-height: 12px;
	z-index: 2;
}

.ajaxpoll .ajaxpoll-our-vote div {
	border: 1px solid #008000;
	top: -1px;
	left: -1px;
}

.ajaxpoll .ajaxpoll-answer-vote span {
	position: absolute;
	top: -3px;
	left: 3px;
	z-index: 4;
}

.ajaxpoll label {
	cursor: pointer;
}
.ajaxpoll input {
	cursor: pointer;
	vertical-align: middle; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.ajaxpoll .ajaxpoll-checkevent {
	background: #00FF00;
}

.ajaxpoll .ajaxpoll-misc {
	margin-bottom: 10px;
	color: #808080;
}

.ajaxpoll .ajaxpoll-ajax {
	background: #FFFFCF;
	padding: 1px 4px;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	display: none;
}

.ajaxpoll .ajaxpoll-info {
	margin-top: 20px;
	color: #808080;
}

.ajaxpoll .ajaxpoll-id-info {
	color: #FAFAFA;
	font-size: 100%;
	float: right;
}
