html,
body { 
	height: 100%; 
	margin-bottom: 1px !important; 
} 

.ms-calendar-header {
	border: 1px solid #DDDDDD;
	font-size: 14px;
	font-weight: 300;
	height: 30px;
	letter-spacing: 3px;
	margin: 0 20px;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
}

.ms-calendar-header span {
	cursor: pointer;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.ms-calendar-header span:hover {
	color: #339966;
}

.ms-calendar-header span.ms-calendar-current {
	background: transparent url(images/calendar-icon-today.png) no-repeat 0px -2px;
	padding: 5px 20px 5px 40px;
	cursor: pointer;
}

.ms-calendar-header span.ms-calendar-current:hover {
	color: #339966;
}

.ms-calendar-header .righty {
	float: right;
}

.ms-calendar-header select,
.ms-calendar-header input {
	margin: 1px 5px 5px 2px;
	vertical-align: middle;
}

.ms-calendar-dialog-form label {
	display: inline-block;
	margin-top: 3px;
	margin-right: 3px;
}

.ms-calendar-dialog-form input {
	padding: 3px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.ms-calendar-dialog-form fieldset {
	border: none;
}

.ms-calendar-dialog-form .exclamation {
	border: 1px solid red;
	padding: 5px 20px;
	background: #FF9999 url(images/exclamation-red.png) no-repeat 2px 5px;
}

.ms-calendar-dialog-form img {
	cursor: pointer;
}

/* Calendario */

.fc-calendar-container {
	width: 100%;
	overflow: hidden; 
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head { 
	/* background: rgba( 255, 255, 255, 0.2 ); */
	height: 40px;
	line-height: 40px;
	color: #686A6E;
	margin: 0 20px;
}

.fc-calendar-container .fc-body {
	margin: 0px 20px;
	display: table;
	height: 100%;
	width: 100%;
	width: -moz-calc( 100% - 40px );
	width: -webkit-calc( 100% - 40px );
	width: calc( 100% - 40px );
	border-top: 1px solid #ddd;
	background: #F9F9F9;
	position: relative;
}

.fc-calendar .fc-row {
	width: 100%;
	display: table-row;
	height: 20%;	
}

.fc-four-rows .fc-row {
	height: 25%;
}

.fc-five-rows .fc-row {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	/*
	height: -moz-calc( 100% / 6 );
	height: -webkit-calc( 100% / 6 );
	height: calc( 100% / 6 );
	*/
}

.fc-calendar .fc-head > div {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	text-align: center;
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width: 14.28%; /* 100% / 7 */
	/*
	width: -moz-calc( 100% / 7 );
	width: -webkit-calc( 100% / 7 );
	width: calc( 100% / 7 );
	*/
	position: relative;
	
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width: 14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 4px;
	overflow: hidden;
	position: relative;
	/* cursor: pointer; */
	background: #ffffff;
	min-height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	display: table-cell;
	float: left;
	display: inline;
}

.fc-row > div: first-child {
	border-left: 1px solid #DDDDDD;
}

.fc-calendar .fc-row > div.fc-we {
	/* background: none; */
	background: rgba( 255, 255, 255, 0.1 );
}

.fc-calendar .fc-row > div.fc-empty {
	/* background: none; */
	background: #F2F2F2;
}

/* Divs */

.fc-calendar .fc-row > div > span.fc-date {
	/* color: rgba( 255, 255, 255, 0.9 ); */
	color: #686A6E;
	position: absolute;
	font-size: 23px;
	font-weight: 100;
	bottom: auto;
	right: auto;
	top: 10px;
	left: 10px;
	text-align: left;
	text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.3 );
	width: 30px;
	height: 20px;
	font-family: Garamond;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #fff4c3;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div.fc-today {
	/* background: transparent; */
	/* box-shadow: inset 0 0 100px rgba( 255, 255, 255, 0.1 ); */
	background: #339966;
	background: #79E0AC;
	box-shadow: 0 -1px 1px rgba( 0, 0, 0, 0.1 ) inset;
	background-color: #9DCE6E;
	background-image: linear-gradient( to bottom, #A8D37D, #8EC657 );
	background-repeat: repeat-x;
}

.fc-calendar .fc-row > div.fc-today .fc-date {
	color: #ffffff;
}

.fc-calendar .fc-row > div > div {
	margin-top: 35px;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	/* color: rgba( 255, 255, 255, 0.7 ); */
	font-size: 12px;
	display: block;
	padding: 3px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-bottom: 1px;
}

.fc-calendar span.add_event {
	position: absolute;
	color: #686A6E;
	right: 0px;
	width: 25px;
	height: 25px;
	padding-left: 5px;
}

.fc-calendar span.add_event:hover {
	color: #339966;
	cursor: pointer;
}

.event:hover{
	background: rgba( 255, 255, 255, 0.3 );
	color: #bbb;
	cursor: pointer;
}

.fc-calendar .fc-row > div.fc-today .event:hover{
	color: #006633;
}

.fc-calendar .fc-row > div.fc-today span.add_event:hover{
	color: #ffffff;
}

.no-touch .fc-calendar .fc-row > div > div a:hover {
	background: rgba( 255, 255, 255, 0.3 );
}

/* Clearfix: after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; } */

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix: after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix: after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.ui-widget {
	font-size: 0.8em !important;
}

/* Hide the yearly checkbox until the functionality is implemented */
label.yearly {
	display: none !important;
}

/* Dialog */

.weekNo {
	border-top: 1px solid #CCCCCC;
	color: #CCCCCC;
	margin-left: -20px;
	padding: 1px;
	position: absolute;
}