@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.20 - 2015-12-16
 *
 */
/*
 * Social media centre
 */
.product-listing {
  border: 1px solid #ddd;
  border-collapse: collapse; }
  .product-listing td {
    border: 1px solid #ddd;
    padding: 8px; }

#mobile-centre .record-close {
  display: none; }

.product-icon {
  display: block;
  width: 50px; }

.product-platforms .label {
  display: inline-block; }
