



    client_max_body_size 32m;
    client_body_timeout 60;

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        try_files $uri /gcwiki/index.php;
        expires max;
        log_not_found off;
    }

    location /wiki/ {
        rewrite ^/wiki/(.*)$ /gcwiki/index.php?title=$1&$args;
    }

    location = / {
        return 301 /wiki/Main_Page;
    }