server {
    listen 8080;
    listen [::]:8080;
    root /home/site/wwwroot;
    index  index.php
    server_name  example.com www.example.com;
    port_in_redirect off;


    client_max_body_size 32m;
    client_body_timeout 60;

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        try_files $uri /gcwiki/index.php;
        expires max;
        log_not_found off;
    }

    location /wiki/ {
        rewrite ^/wiki/(.*)$ /gcwiki/index.php?title=$1&$args;
    }

    location = / {
        return 301 /wiki/Main_Page;
    }

    location ~ ^/gcwiki/(index|load|api|thumb|opensearch_desc|rest|img_auth)\.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass 127.0.0.1:9000; # or whatever port your PHP-FPM listens on
    }

    # Images
    location /gcwiki/images {
        # Separate location for images/ so .php execution won't apply
    }
    location /gcwiki/images/deleted {
        # Deny access to deleted images folder
        deny all;
    }
    # MediaWiki assets (usually images)
    location ~ ^/gcwiki/resources/(assets|lib|src) {
        try_files $uri =404;
        add_header Cache-Control "public";
        expires 7d;
    }
    # Assets, scripts and styles from skins and extensions
    location ~ ^/gcwiki/(skins|extensions)/.+\.(css|js|gif|jpg|jpeg|png|svg|wasm|ttf|woff|woff2)$ {
        try_files $uri =404;
        add_header Cache-Control "public";
        expires 7d;
    }
}
