div#mw-head {
	top: 45px;
}

.vector-legacy-sidebar#mw-panel{
    top:60px;
}

#p-logo a{
    height: 190px !important;
}


.btn-primary{
	color:#fff;
	background-color:#1F1F72 !important;
}
#wb-info .brand {
    border-top: 4px solid #46055C ;
}
#app-brand {
    background-color: #1C507F;
    color: #fff;
    min-height: 45px;
}
.app-name {
    font-size: 1.6em;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #1F1F72;
    min-height: 45px;
    max-width: 165px;
    margin-left: -15px;
}
.app-name:before {
    content: '';
    display: block;
    position: absolute;
    left: 165px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    border-left: 20px solid #1F1F72;
    clear: both;
}
#app-brand a {
    text-decoration: none;
    color: #fff;
}
.bold-gc {
    font-weight: 800;
}

.tools-navigator{
    font-size: 1.1em;
    margin-top:10px;

}

.tools-navigator-menu{
    top:35px;   
}

.tools-navigator-menu:before{
       content: '';
    display: block;
    position: absolute;
    left: 80%;
    top: -10px;
    width: 0;
    height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;

	border-bottom: 12px solid #fff;
    clear: both;    
}
.tools-navigator-menu:after{
       content: '';
    display: block;
    position: absolute;
    left: 80%;
    top: -12px;
    width: 0;
    height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;

	border-bottom: 12px solid rgba(0, 0, 0, 0.15) ;
    clear: both;     
}

#tools-dropdown{
    cursor: pointer;
}

.tools-dropdown-holder{
    min-width: 300px;
    color: black;
    padding: 10px;
}
.tools-navigator-menu li a{
    color:black;   
}
.tool-link{
    font-size:16px;
    padding:11px 0 0 20px;
}

.tool-link:hover{
    text-decoration: underline;
}

.tool-link-icon{
    width: 25px;
    margin:0 2px 3px 0;

}

/*Share to GCconnex action*/

.gccon-share{
    font-size:0.85em;
    margin-right:8px;
    margin-top: 7px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #047177;
    padding:4px 7px;
    border-radius: 4px;
    
}