/*
 * Stylesheet for the markup of glossary terms in wiki pages.
 */

.mw-lingo-tooltip {
	/*display: inline;*/
	position: relative;
	/*cursor: help;*/
}

.mw-lingo-tooltip-abbr {
	border-bottom: 1px dotted #bbbbff;
	cursor:        default;
}

.mw-lingo-tooltip-abbr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.mw-lingo-tooltip-tip {
	display:               none;

	/* qtip-default */
	border-width:          1px;
	border-style:          solid;

	/* qtip shadow */
	-webkit-box-shadow:    1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:       1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow:            1px 1px 3px 1px rgba(0, 0, 0, 0.15);

	/* qtip light */
	background-color:      white;
	border-color:          #e2e2e2;
	color:                 #454545;

	/* qtip rounded */
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.mw-lingo-tooltip-definition {
	display: block;
	padding: .5ex 0;
}

/* Style for JS disabled browsers*/
.mw-lingo-tooltip:hover .mw-lingo-tooltip-tip {
	display:   block;

	position:  absolute;
	top:       1.5em;
	left:      0;

	padding:   5px 9px;
	z-index:   15000;
	font-size: smaller;
}
