
/* Favorite/Unfavorite Icon Styling */

#ca-unfavorite.icon a,
#ca-favorite.icon a {
margin: 0;
margin-right: -2px;
padding: 0;
outline: none;
display: block;
width: 26px;
padding-top: 3.1em;
margin-top: 0;
margin-top: -0.8em !ie;
height: 0;
overflow: hidden;
 
}
#ca-favorite.icon a {
 background-image: url(../images/fav-icons.png);
 background-position: 3px 60%;
}
#ca-unfavorite.icon a {
 background-image: url(../images/fav-icons.png);
 background-position: -45px 60%;
}
#ca-favorite.icon a:hover {
 background-image: url(../images/fav-icons.png);
 background-position: -45px 60%;
}
#ca-unfavorite.icon a:hover {
 background-image: url(../images/fav-icons.png);
 background-position: 3px 60%;
}
#ca-unfavorite.icon a.loading,
#ca-favorite.icon a.loading {
 background-image: url(../images/fav-icon-loading.gif);
 background-position: center 60%;
}
#ca-unfavorite.icon a span,
#ca-favorite.icon a span {
 display: none;
}
